<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>start_HeroesSpawned</key>
		<integer>2</integer>
		<key>step_BasicEnemiesSpawned</key>
		<integer>2</integer>
		<key>total_Enemies</key>
		<integer>4</integer>
		<key>secondsForFirstEnemyShot</key>
		<integer>5</integer>
		<key>secondsForNextEnemyShot</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>start_HeroesSpawned</key>
		<integer>0</integer>
		<key>step_BasicEnemiesSpawned</key>
		<integer>3</integer>
		<key>total_Enemies</key>
		<integer>6</integer>
		<key>secondsForFirstEnemyShot</key>
		<integer>5</integer>
		<key>secondsForNextEnemyShot</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>start_HeroesSpawned</key>
		<integer>0</integer>
		<key>step_TankEnemiesSpawned</key>
		<integer>2</integer>
		<key>total_Enemies</key>
		<integer>4</integer>
		<key>secondsForFirstEnemyShot</key>
		<integer>8</integer>
		<key>secondsForNextEnemyShot</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>start_HeroesSpawned</key>
		<integer>0</integer>
		<key>step_AssassinEnemiesSpawned</key>
		<integer>2</integer>
		<key>total_Enemies</key>
		<integer>4</integer>
		<key>secondsForFirstEnemyShot</key>
		<integer>5</integer>
		<key>secondsForNextEnemyShot</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
